:root{
    font-family: 'Rubik', sans-serif;
    --menu-text: #4a4a4a;
    --main-backgr: #3CDBC0;
    --main-text: #FFFFFF;
    }

    .header {
        position: fixed;
        top:0;
        background-color: var(--main-text);
        width: 100vw;
    }

    .link-logo {
        display: flex;       
        justify-content: center;
        align-items: center;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .logo {
        width: 155px;
    }

    .nav {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 13px;
    }

    .list-nav {
        text-align: center;
        display: flex;
        gap: 20px;
    }

    .menu-item {
        font-size: 16px;
        color: var(--menu-text);
        text-transform: uppercase;
        text-decoration: none;
        display: flex;

    }

    .main {
        background-color: var(--main-backgr);
        height: 100vh;
        width: 100vw;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .title {
        font-size: 30px;
        color: var(--main-text);
        text-align: center;
        word-spacing: 100vw;
        text-transform: capitalize;
    }

    @media all and (min-width: 768px) {
        .header {
            display: flex;
            justify-content: space-between;
        }

        .logo {
            padding-left: 30px;
        }

        .nav {
            padding-right: 30px;
        }
        
        .title{
            font-size: 40px;
        }
    }