:root{
    font-family: 'Rubik', sans-serif;
    --menu-text: #4a4a4a;
    --main-backgr: #3CDBC0;
    --main-text: #FFFFFF;
    }

    .link-logo { 
        display: flex;       
        justify-content: center;
        align-items: center;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .logo {
        width: 155px;
    }

    .nav {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 13px;
        gap: 20pX;
    }

    .menu-item {
        font-size: 16px;
        color: var(--menu-text);
        text-transform: uppercase;  
    }

    .main {
        background-color: var(--main-backgr);
        height: 80vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .title {
        font-size: 30px;
        color: var(--main-text);
        text-align: center;
        word-spacing: 100vw;
    }